<div class="post-container">
  <div class="post">
    {% if index %}
      <div class="post-info">
        <p class="meta">{{ post.author }} / <a href="{{ post.url }}">{{post.date | date: "%d %B %Y" }}</a></p>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </div>
    {% else %}
      <div class="post-info">
        <p class="meta">{{ page.author }} / <a href="{{ page.url }}">{{page.date | date: "%d %B %Y" }}</a></p>
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      </div>
    {% endif %}

    <div class="post-content">
      {{ content }}
    </div>
  </div>
</div>

