header {
  @extend .clearfix;

  ol {
    @extend .clearfix;
    float: right;
    margin: 1.5em;

    li {
      h1 {
        a {
          border-bottom: 4px solid #000;
          font-size: 1.75em;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
    }
  }

}

