header {
  margin: 3em auto 6em;

  ol {
    @extend .clearfix;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    a {
      border-bottom: 4px solid rgb(236, 85, 90);
      font-size: 1.5em;
      font-weight: 900;
      display: inline-block;
      text-transform: uppercase;

      &:hover {
        border-bottom: 4px solid #000;
      }
    }
  }
}

