.container .post {
  border-bottom: 1px dotted #ddd;
  margin: 0 0 6em 0;
  padding: 0 0 4em;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  body.body-post & {
    border-bottom: 0;
    margin: 0 0 8em 0;
    padding: 0;
  }

  h2 {
    color: #000;
    font-size: 1.75em;
    font-weight: 900;
    margin: 0 0 0.25em 0;

    a {
      color: inherit;
      font-weight: inherit;
      text-decoration: none;

      &:hover {
        border: 0;
      }
    }
  }

  p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 0.75em 0;

    &.meta {
      color: #555;
      font-size: 1em;
      margin: 0 0 2.5em 0;

      a {
        border: 0;
        color: inherit;
        font-weight: 400;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid #777;
        }
      }
    }

    &.divider {
      text-align: center;
    }
  }

  ul,
  ol {
    margin: 1em 0;

    li {
      font-size: 1em;
      line-height: 1.5;
      margin: 0 0 0.75em 0;

      p {
        font-size: 1em;
      }
    }
  }

  strong {
    font-weight: 700;
  }

  blockquote {
    border-left: 0.5em solid #000;
    padding: 0 1em;
    margin: 1.5em 0;

    p {
    }
  }

  em {
    font-style: italic;
  }
}

@media screen and (max-width: 600px) {
  .container .post {
    p {
      font-size: 1em;

      &.meta {
        font-size: 1em;
      }
    }

    ul,
    ol {
      li {
        font-size: 1em;
      }
    }
  }

  body.body-home {
    .container .post {
      margin-bottom: 4em;
    }
  }

  body.body-post {
    .container .post {
      margin-bottom: 4em;
    }
  }
}
