@import 'reset';
@import 'bourbon/bourbon';
@import 'mixins';
@import 'header';
@import 'post';
@import 'footer';

body {
  background: #fff;
  color: #000;
  font-family: franklin-gothic-urw, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.wf-loading h2,
.wf-loading p,
.wf-loading h6,
.wf-loading ul,
.wf-loading ol {
  visibility: hidden;
}

a {
  color: #000;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #000;
  }
}

.container {
  max-width: 38em;
  margin: 8em auto 4em;
}

.home {
  margin: 1.5em;
  text-align: right;

  a {
    border-bottom: 4px solid #000;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 660px) {
  .container {
    margin-left: 1em;
    margin-right: 1em;
  }
}

