/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before, header ol:before, footer ul:before,
.clearfix:after,
header ol:after,
footer ul:after {
  content: " ";
  display: table; }

.clearfix:after, header ol:after, footer ul:after {
  clear: both; }

.clearfix, header ol, footer ul {
  *zoom: 1; }

header h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

header {
  margin: 48px 0 64px; }
  header ol {
    margin: 0 auto;
    width: 80px; }
    header ol li {
      float: left;
      line-height: 80px; }
      header ol li a {
        color: #999;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase; }
  header h1 a {
    background: url("/images/logo.png") no-repeat;
    background-size: 80px 80px;
    display: block;
    height: 80px;
    margin: 0 auto;
    width: 80px; }
    header h1 a:hover {
      border: 0; }

.container .post {
  border-bottom: 1px dotted #ddd;
  color: #333;
  margin: 0 0 82px 0;
  padding: 0 0 46px; }
  .container .post:last-child {
    border-bottom: 0;
    padding-bottom: 0; }
  body.body-post .container .post {
    border-bottom: 0;
    margin: 0 0 82px 0;
    padding: 0; }
  .container .post h2 {
    color: #222;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 16px 0;
    text-align: center; }
    .container .post h2 a {
      color: inherit;
      font-weight: inherit;
      text-decoration: none; }
      .container .post h2 a:hover {
        border: 0; }
  .container .post p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 16px 0; }
    .container .post p.meta {
      color: #777;
      font-size: 14px;
      margin: 0 0 42px 0;
      text-align: center; }
      .container .post p.meta a {
        border: 0;
        color: inherit;
        font-weight: 400;
        text-decoration: none; }
        .container .post p.meta a:hover {
          border-bottom: 1px solid #777; }
    .container .post p.divider {
      text-align: center; }
  .container .post ul,
  .container .post ol {
    margin: 16px 0; }
    .container .post ul li,
    .container .post ol li {
      line-height: 1.5;
      margin: 0 0 8px 0; }
  .container .post strong {
    font-weight: 600; }
  .container .post blockquote {
    margin: 32px 0;
    padding: 0 12%; }
    .container .post blockquote p {
      font-weight: bold; }
  .container .post em {
    font-style: italic; }

footer {
  border-bottom: 1px dotted #ddd;
  color: #555;
  margin: 0 0 92px 0;
  padding: 0 0 24px 0; }
  footer a {
    color: #555; }
  footer h6 {
    border-top: 1px dotted #ddd;
    color: #777;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 16px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    footer h6 span {
      background: #fff;
      padding: 0 18px;
      position: relative;
      top: -8px; }
  footer ul {
    margin: 0 0 12px 0; }
    footer ul li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 6px 0;
      text-align: center; }
      footer ul li a {
        border-bottom: 1px solid transparent;
        color: #555;
        display: inline;
        font-weight: 400;
        line-height: 1.4;
        margin: 0 0 4px 0; }
      footer ul li .date {
        color: #999;
        display: inline;
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 0 4px; }
  footer p {
    line-height: 1.5; }

body {
  color: #555;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin: 0 20px; }

a {
  color: #000;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #222; }

.container {
  max-width: 580px;
  margin: 64px auto; }
