/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before, header ol:before, footer ul:before,
.clearfix:after,
header ol:after,
footer ul:after {
  content: " ";
  display: table; }

.clearfix:after, header ol:after, footer ul:after {
  clear: both; }

.clearfix, header ol, footer ul {
  *zoom: 1; }

header {
  margin: 1em 0 0 1em;
  position: absolute; }
  header ol {
    margin: 0 auto;
    text-align: left; }
  header h1 a {
    border: 3px solid #ec555a;
    font-size: 1.25em;
    font-weight: 900;
    display: inline-block;
    padding: 0.4em 0.6em;
    text-transform: uppercase; }
    header h1 a:hover {
      border: 3px solid #000; }

@media screen and (max-width: 660px) {
  header {
    position: absolute; } }
.container .post-container {
  border-bottom: 1px solid #f3f3f3;
  margin: 0 0 1em 0;
  padding: 0 0 6em 0; }
  .container .post-container:first-child {
    padding-top: 6em; }
  .container .post-container:last-child {
    border-bottom: 0;
    padding-bottom: 0; }
  .container .post-container:not(:first-child) {
    margin: 1em 0 1em 0;
    padding: 1em 0 2em 0; }
    .container .post-container:not(:first-child) .post .post-info h2 {
      font-size: 2.75em;
      margin: 0; }
      .container .post-container:not(:first-child) .post .post-info h2 a:hover {
        color: #ec555a; }
    .container .post-container:not(:first-child) .post .post-content {
      display: none; }
.container .post {
  margin: 0 auto;
  max-width: 38em; }
  body.body-post .container .post {
    margin: 0 auto 6em auto; }
  .container .post h2 {
    color: #000;
    font-size: 3.25em;
    font-weight: 900;
    margin: 0 0 0.75em 0; }
    .container .post h2 a {
      color: inherit;
      font-weight: inherit;
      text-decoration: none; }
      .container .post h2 a:hover {
        border: 0; }
  .container .post p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 0.75em 0; }
    .container .post p.meta {
      color: #333;
      font-size: 0.9em;
      font-weight: 400;
      margin: 0 0 0.25em 0;
      text-transform: uppercase; }
      .container .post p.meta a {
        border: 0;
        color: inherit;
        font-weight: inherit;
        text-decoration: none; }
        .container .post p.meta a:hover {
          border-bottom: 1px solid #777; }
    .container .post p.divider {
      text-align: center; }
  .container .post ul,
  .container .post ol {
    margin: 1em 0; }
    .container .post ul li,
    .container .post ol li {
      font-size: 1em;
      line-height: 1.5;
      margin: 0 0 0.75em 0; }
      .container .post ul li p,
      .container .post ol li p {
        font-size: 1em; }
  .container .post strong {
    font-weight: 700; }
  .container .post blockquote {
    border-left: 0.5em solid #000;
    padding: 0 1em;
    margin: 1.5em 0; }
  .container .post em {
    font-style: italic; }

@media screen and (max-width: 660px) {
  .container .post-container .post {
    padding-left: 1em;
    padding-right: 1em; }
    .container .post-container .post .post-info h2 {
      font-size: 2.5em; }
  .container .post-container:not(:first-child) .post .post-info h2 {
    font-size: 1.75em; } }
footer {
  color: #555;
  margin: 0 auto;
  max-width: 38em;
  padding: 0 0 2em 0; }
  body.body-home footer {
    max-width: 100%; }
    body.body-home footer p {
      margin: 0 auto;
      max-width: 38em; }
  footer a {
    color: #555; }
  footer h6 {
    border-top: 1px solid #f3f3f3;
    color: #777;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 1.25em 0;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    footer h6 span {
      background: #fff;
      padding: 0 1em;
      position: relative;
      top: -0.5em; }
  footer ul {
    margin: 0 0 0.75em 0; }
    footer ul li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 0.25em 0;
      text-align: center; }
      footer ul li a {
        border-bottom: 1px solid transparent;
        color: #555;
        display: inline;
        font-weight: 400;
        line-height: 1.4;
        margin: 0 0 0.25em 0; }
      footer ul li .date {
        color: #999;
        display: inline;
        font-size: 0.75em;
        font-weight: 300;
        margin: 0 0 0 0.25em; }
  footer p {
    line-height: 1.5; }

@media screen and (max-width: 660px) {
  footer {
    margin-left: 1em;
    margin-right: 1em; } }
body {
  background: #fff;
  color: #000;
  font-family: franklin-gothic-urw, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight: 400; }

.wf-loading h2,
.wf-loading p,
.wf-loading h6,
.wf-loading ul,
.wf-loading ol {
  visibility: hidden; }

a {
  color: #000;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #000; }

.home {
  display: none;
  margin: 1.5em;
  text-align: right; }
  .home a {
    border-bottom: 4px solid #000;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 900;
    text-transform: uppercase; }
