/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before, header:before, header ol:before, footer ul:before,
.clearfix:after,
header:after,
header ol:after,
footer ul:after {
  content: " ";
  display: table; }

.clearfix:after, header:after, header ol:after, footer ul:after {
  clear: both; }

.clearfix, header, header ol, footer ul {
  *zoom: 1; }

header ol {
  float: right;
  margin: 1.5em; }
  header ol li h1 a {
    border-bottom: 4px solid #000;
    font-size: 1.75em;
    font-weight: 900;
    text-transform: uppercase; }

.container .post {
  border-bottom: 1px dotted #ddd;
  margin: 0 0 8em 0;
  padding: 0 0 4em; }
  .container .post:last-child {
    border-bottom: 0;
    padding-bottom: 0; }
  body.body-post .container .post {
    border-bottom: 0;
    margin: 0 0 8em 0;
    padding: 0; }
  .container .post h2 {
    color: #000;
    display: inline-block;
    font-size: 4em;
    font-weight: 900;
    letter-spacing: -2px;
    margin: 0 0 0.25em 0; }
    .container .post h2 a {
      color: inherit;
      font-weight: inherit;
      text-decoration: none; }
      .container .post h2 a:hover {
        border: 0; }
  .container .post p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0 0 0.75em 0; }
    .container .post p.meta {
      color: #000;
      font-size: 1.25em;
      margin: 0 0 3em 0; }
      .container .post p.meta a {
        border: 0;
        color: inherit;
        font-weight: 300;
        text-decoration: none; }
        .container .post p.meta a:hover {
          border-bottom: 1px solid #777; }
    .container .post p.divider {
      text-align: center; }
  .container .post ul,
  .container .post ol {
    margin: 1em 0; }
    .container .post ul li,
    .container .post ol li {
      font-size: 1.5em;
      line-height: 1.5;
      margin: 0 0 0.75em 0; }
      .container .post ul li p,
      .container .post ol li p {
        font-size: 1em; }
  .container .post strong {
    font-weight: 700; }
  .container .post blockquote {
    border-left: 0.5em solid #000;
    padding: 0 1em;
    margin: 1.5em 0; }
    .container .post blockquote p {
      font-weight: 700; }
  .container .post em {
    font-style: italic; }

@media screen and (max-width: 600px) {
  .container .post h2 {
    font-size: 3em; }
  .container .post p {
    font-size: 1em; }
    .container .post p.meta {
      font-size: 1em; }
  .container .post ul li,
  .container .post ol li {
    font-size: 1em; }

  body.body-home .container .post {
    margin-bottom: 4em; }

  body.body-post .container .post {
    margin-bottom: 4em; } }
footer {
  border-bottom: 1px dotted #ddd;
  color: #555;
  margin: 0 0 6em 0;
  padding: 0 0 2em 0; }
  footer a {
    color: #555; }
  footer h6 {
    border-top: 1px dotted #ddd;
    color: #777;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 1.25em 0;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    footer h6 span {
      background: #fff;
      padding: 0 1em;
      position: relative;
      top: -0.5em; }
  footer ul {
    margin: 0 0 0.75em 0; }
    footer ul li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 0 0.25em 0;
      text-align: center; }
      footer ul li a {
        border-bottom: 1px solid transparent;
        color: #555;
        display: inline;
        font-weight: 400;
        line-height: 1.4;
        margin: 0 0 0.25em 0; }
      footer ul li .date {
        color: #999;
        display: inline;
        font-size: 0.75em;
        font-weight: 300;
        margin: 0 0 0 0.25em; }
  footer p {
    line-height: 1.5; }

@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 3em; } }
body {
  background: #fff;
  border: 2em solid #2384c6;
  color: #000;
  font-family: franklin-gothic-urw, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight: 400; }

a {
  color: #000;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #222; }

.container {
  max-width: 42em;
  margin: 4em; }

.home {
  margin: 2em;
  text-align: right; }
  body.body-home .home {
    display: none; }
  .home a {
    border-bottom: 4px solid #000;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 900;
    text-transform: uppercase; }

@media screen and (max-width: 600px) {
  body {
    border-width: 0.5em; }

  .container {
    margin: 1.5em; } }
