<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Chad Mazzola is a web product designer based in Cambridge, MA.">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta name="google-site-verification" content="rocpDiFjlAr3ySz-2S0IkYM8SpXPZ4ZrTBG1jugGiGA">
    <title>{% if page.title %}{{ page.title }} &bull; {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/stylesheets/application.css" media="screen">
    <link href="/feeds/articles.xml" rel="alternate" title="RSS feed" type="application/atom+xml">
    <script type="text/javascript" src="http://use.typekit.com/jhc4oii.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-102128-6']);
      _gaq.push(['_setDomainName', '.hellohappy.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body class="body-{{ page.type }}">
    <section class="container">
      <section class="content {{ page.type }}">
        {{ content }}
      </section>
    </section>
  </body>
</html>

