<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="UnicornMeet is where unicorns meet.">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &bull; {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/stylesheets/application.css" media="screen">
    <link href="/feeds/articles.xml" rel="alternate" title="RSS feed" type="application/atom+xml">
    {% include analytics.html %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body class="body-{{ page.type }}">
    <section class="container">
      <section class="content">
        {{ content }}
      </section>
    </section>
  </body>
</html>

